$kdu-ui-white       = #ffffff
$kdu-ui-black       = #0b1015
// Gray
$kdu-ui-gray-900    = #1d2935
$kdu-ui-gray-800    = #2c3e50
$kdu-ui-gray-700    = #3e5770
$kdu-ui-gray-600    = #4f6f7f
$kdu-ui-gray-500    = #809fae
$kdu-ui-gray-400    = #93b0be
$kdu-ui-gray-300    = #b6c6ce
$kdu-ui-gray-200    = #c8d3d9
$kdu-ui-gray-100    = #e0e5e7
// Primary
$kdu-ui-primary-900 = #01579b
$kdu-ui-primary-800 = #0277bd
$kdu-ui-primary-700 = #0288d1
$kdu-ui-primary-600 = #039be5
$kdu-ui-primary-500 = #03a9f4
$kdu-ui-primary-400 = #29b6f6
$kdu-ui-primary-300 = #4fc3f7
$kdu-ui-primary-200 = #81d4fa
$kdu-ui-primary-100 = #b3e5fc
// Accent
$kdu-ui-accent-900  = #350066
$kdu-ui-accent-800  = #4f0098
$kdu-ui-accent-700  = #6806c1
$kdu-ui-accent-600  = #8929e3
$kdu-ui-accent-500  = #a44cf6
$kdu-ui-accent-400  = #b96dff
$kdu-ui-accent-300  = #c88eff
$kdu-ui-accent-200  = #d7adff
$kdu-ui-accent-100  = #e6ccff
// Danger
$kdu-ui-danger-900  = #500000
$kdu-ui-danger-800  = #850505
$kdu-ui-danger-700  = #ac0d0d
$kdu-ui-danger-600  = #cd1b1b
$kdu-ui-danger-500  = #e83030
$kdu-ui-danger-400  = #f44747
$kdu-ui-danger-300  = #ff6565
$kdu-ui-danger-200  = #ff9494
$kdu-ui-danger-100  = #ffcaca
// Warning
$kdu-ui-warning-900 = #702200
$kdu-ui-warning-800 = #943800
$kdu-ui-warning-700 = #b54d01
$kdu-ui-warning-600 = #c85900
$kdu-ui-warning-500 = #ea6e00
$kdu-ui-warning-400 = #ff8915
$kdu-ui-warning-300 = #ffa733
$kdu-ui-warning-200 = #ffc45e
$kdu-ui-warning-100 = #ffe6b0
// Info
$kdu-ui-info-900    = #004576
$kdu-ui-info-800    = #006294
$kdu-ui-info-700    = #007db1
$kdu-ui-info-600    = #0098c4
$kdu-ui-info-500    = #03c2e6
$kdu-ui-info-400    = #74e0ed
$kdu-ui-info-300    = #9ae6ef
$kdu-ui-info-200    = #bceef1
$kdu-ui-info-100    = #e3f5f6
// Success
$kdu-ui-success-900 = #034124
$kdu-ui-success-800 = #085e37
$kdu-ui-success-700 = #13794a
$kdu-ui-success-600 = #299f69
$kdu-ui-success-500 = #42b983
$kdu-ui-success-400 = #56cd96
$kdu-ui-success-300 = #89deb7
$kdu-ui-success-200 = #abeacd
$kdu-ui-success-100 = #e0f8ed

// Legacy
$kdu-ui-color-light           = #fff
$kdu-ui-color-light-neutral   = #e4f5ef
$kdu-ui-color-dark            = #2c3e50
$kdu-ui-color-dark-neutral    = #4f6f7f
$kdu-ui-color-darker          = #1d2935
$kdu-ui-color-almost-black    = #0b1015
$kdu-ui-color-primary         = #03a9f4
$kdu-ui-color-accent          = #6806c1
$kdu-ui-color-accent-light    = lighten($kdu-ui-color-accent, 60%)
$kdu-ui-color-danger          = #e83030
$kdu-ui-color-warning         = #ea6e00
$kdu-ui-color-info            = #03c2e6
$kdu-ui-color-success         = #4caf50
